/* src/components/css/ListaPeliculas.css */

.lista-peliculas-grid {
  display: grid;
  /* Crea columnas automáticas que tengan un mínimo de 250px */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem; /* Espacio entre las tarjetas */
}