#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* src/App.css (a침adir al final) */

/* El .App ahora es el 'main' de nuestro contenido */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.App h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #5dadec;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #5dadec;
  display: inline-block;
  padding-bottom: 0.5rem;
}

/* Contenedor para la animaci칩n del carrusel */
.carrusel-wrapper {
  transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in-out;
  max-height: 500px; /* Altura m치xima cuando est치 visible */
  opacity: 1;
  overflow: hidden;
}

.carrusel-wrapper.oculto {
  max-height: 0; /* Colapsa la altura a 0 */
  opacity: 0;
}